html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background: #f4f4f4;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
    font-family: 'Playfair Display', serif;
    color: #4d4d4d;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Playfair Display', serif;
    color: #4d4d4d;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}