html {
  box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #f4f4f4;
  background: #f4f4f4;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  font-family: "Montserrat", serif;
  color: #4d4d4d;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  font-family: "Montserrat", serif;
  color: #4d4d4d;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-family: "Montserrat", serif;
  color: #4d4d4d;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-family: "Montserrat", serif;
  color: #4d4d4d;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

p:hover,
p:focus,
h2:hover,
h2:focus {
  opacity: 0.8;
  transition: 0.8s ease-out;
  transform: scale(1.03);
}

img:hover {
  opacity: 0.8;
}

/* header styles (julia)*/
.header {
  display: flex;
  flex-wrap: wrap;
  height: 90px;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__left-part {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo {
  width: 120px;
}

.header__navigation {
  flex-wrap: wrap;
  display: flex;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-right: 40px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-family: "Montserrat", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #404040;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.75;
  transition: 0.1s;
}

.header__right-part {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  margin-right: 97px;
}

.header__icon {
  width: 50px;
  height: 50px;
}

/* gamburger */

@media screen and (max-width: 903px) {
  .header__navigation {
    display: none;
  }
}

#menu__toggle {
  opacity: 0.1;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 40px;
  right: 70px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 11;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #444242;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -7px;
}

.menu__btn > span::after {
  content: "";
  top: 7px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0px;
  left: -100%;
  width: 400px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #858687;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  z-index: 10;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: rgb(68, 66, 66);
  font-family: "Montserrat", serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  transition-duration: 0.25s;
  z-index: 9;
}

.menu__item:hover {
  background-color: #f4f4f4;
}

.burger-link {
  margin-left: 45%;
}

@media screen and (max-width: 680px) {
  .header__right-part {
    display: none;
  }

  .menu__box {
    max-width: 200px;
  }

  .menu__item {
    font-size: 30px;
  }

  .burger-link {
    margin-left: 35%;
  }
}

@media screen and (max-width: 430px) {
  .menu__box {
    max-width: 120px;
  }

  .menu__item {
    font-size: 17px;
  }

  .burger-link {
    margin-left: 25%;
  }
}

/*HERO PART ANASTASIA*/

.hero__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  border-bottom: 1px solid #38383860;
  margin-bottom: 70px;
  max-width: 100%;
  height: 700px;
  border-bottom: 1px solid #38383860;
  margin-bottom: 70px;
  background-image: url(/./assets/img/hands.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.hero__title {
  margin-top: 200px;
  margin-left: 700px;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  font-family: "Montserrat", serif;
  letter-spacing: 0.15em;
  color: #000000;
}

.hero__btn {
  text-align: center;
  margin-right: 750px;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 100px;
  width: 300px;
  height: 70px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  font-family: "Montserrat", serif;
  background-color: #4d4d4d01;
  opacity: 100%;
  border: 1px solid #4d4d4d;
  outline: none;
}

.hero__btn a {
  text-decoration: none;
  color: #050505;
}

.hero__btn a:hover {
  color: #959393;
}

@media screen and (max-width: 903px) {
  .hero__text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .hero__title {
    margin-left: 0px;
  }

  .hero__btn {
    margin-right: 0;
    align-self: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__title {
    margin-left: 0px;
    margin-top: 100px;
    font-size: 40px;
  }

  .hero__btn {
    margin-right: 0;
    margin-bottom: 50px;
    width: 250px;
    height: 50px;
    align-self: auto;
    padding: 5px;
    font-size: 14px;
  }
}

/*HERO PART ANASTASIA ENDS*/

/*MYJOB PART ANASTASIA*/
.Myjob__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.Myjob__left {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.Myjob__citation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border-radius: 10px;
  padding: 10px;
  width: 600px;
  height: 130px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  font-family: "Montserrat", serif;
  color: #f4f4f4;
  background-color: #4d4d4d90;
}

.Myjob__citation p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  font-family: "Montserrat", serif;
  color: #f4f4f4;
}

.Myjob__photo {
  max-width: 500px;
}

.Myjob__left-list {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  font-family: "Montserrat", serif;
  color: #4d4d4d;
}

@media screen and (max-width: 903px) {
  .Myjob__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Myjob__left {
    max-width: 500px;
    margin-bottom: 32px;
    margin-right: 0;
  }

  .Myjob__photo {
    margin-left: 0;
  }
  .Myjob__citation {
    align-self: center;
    width: 500px;
    margin-right: 0;
  }
}

.border {
  width: 100%;
  border-bottom: 1px solid #38383860;
}
/*MYJOB PART ANASTASIA ENDS*/

/*About me PART Gulya start*/

.about__body {
  max-width: 1300px;

  max-width: 1300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.about__title {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.about__title_education {
  display: flex;
  justify-content: left;
}

.about__image {
  width: 320px;
  height: 320px;
}
.about__article_title {
  display: flex;
  align-content: flex-end;
}
.about__content {
  display: flex;
  align-items: center;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  font-family: "Montserrat", serif;
  color: #4d4d4d;
}
h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  font-family: "Montserrat", serif;
  color: #4d4d4d;
}
.about__article {
  display: flex;
  flex-direction: column;
}

.about__target {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  height: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  font-family: "Montserrat", serif;
  color: #f4f4f4;
  background-color: #4d4d4d90;
  margin-bottom: 10px;
}
.about__education {
  width: 100%;
}
.about__target p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  font-family: "Montserrat", serif;
  color: #f4f4f4;
}

.about__citation p {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
  font-family: "Montserrat", serif;
  color: #f4f4f4;
}
.about__citation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  width: 345px;
  height: 175px;
  font-style: normal;
  font-weight: 380;
  font-size: 18px;
  line-height: 32px;
  font-family: "Montserrat", serif;
  color: white;
  background-color: #4d4d4d90;
  margin-top: 15px;
}

.about__item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-family: "Montserrat", serif;
  color: #4d4d4d;
}

.about__education_title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  font-family: "Montserrat", serif;
  color: #4d4d4d;
  margin-top: 30px;
}
.about__education_title2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  font-family: "Montserrat", serif;
  color: #4d4d4d;
  margin-top: 30px;
  display: flex;
}

.about__article {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.about__aside {
  margin-right: 70px;
}
.about__education_mobile {
  display: none;
}

.about__mobile_list {
  display: none;
}
.about__mobile_content {
  display: none;
}

@media screen and (max-width: 960px) {
  .about__body {
    padding-left: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .about__body {
    margin-left: 15px;
  }
}

@media screen and (max-width: 903px) {
  .about__body {
    height: max-content;
  }
  .about__education_title2 {
    display: none;
  }
  .about__education {
    display: none;
  }
  .about__target {
    width: 410px;
  }
  .about__article {
    align-items: flex-start;
    margin-top: 20px;
  }
  .about__content {
    display: flex;
    flex-direction: column;
  }
  .about__mobile_list {
    width: 480px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: "Montserrat", serif;
    color: #4d4d4d;
  }
  .mobile__wrapper {
    display: flex;
  }
  .about__mobile_content {
    display: flex;
    justify-content: center;
  }

  .about__body {
    justify-content: center;
    flex-direction: row;
  }
  .about__citation {
    height: 150px;
    width: 410px;
  }
  .about__title {
    margin-right: 20px;
  }
  .about__image {
    width: 400px;
    height: 450px;
  }
}
@media screen and (max-width: 467px) {
  .about__article {
    padding-left: 30px;
  }
}
@media screen and (max-width: 540px) {
  .about__body {
    padding-left: 40px;
  }
}
@media screen and (max-width: 450px) {
  .about__aside {
    padding-left: 30px;
  }
  .about__article {
    padding-left: 30px;
  }
}
.about__mobile_content {
  padding-left: 20px;
}
@media screen and (max-width: 420px) {
  .about__body {
    margin-left: 130px;
  }
}

/*About me PART Gulya end*/

/* ====Viddeo start (Julia)*/

.video__title {
  text-align: center;
}

.video__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.video__subtitle {
  margin-bottom: 50px;
  padding: 10px;
  border: 1px solid #444242;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  font-family: "Montserrat", serif;
  color: #4d4d4d;
}

.video__btn {
  margin-left: 35%;
  text-align: center;
  width: 300px;
  height: 100px;
  background-color: #4d4d4d90;
  color: #fffbfb;
  font-family: "Montserrat", serif;
  font-size: 18px;
  border: 1px solid #404040;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.video__btn:hover,
.video__btn:focus,
.video__btn:active {
  opacity: 0.75;
  transform: scale(1.03);
  transition: 0.8s ease-out;
}

.video {
  margin-bottom: 100px;
}

.video__container {
  display: flex;
}

.video__title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.video__left-part {
  display: block;
  margin-right: 8px;
}

.video__content {
  margin-bottom: 20px;
  opacity: 0.8;
  filter: grayscale(100%);
}

.video__right-part {
  max-width: 700px;
}

.video__subtitle-content {
  padding: 10px;
  border: 1px solid #444242;
  margin-top: 200px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.video__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  font-family: "Montserrat", serif;
  color: #4d4d4d;
}

.video__btn {
  width: 300px;
  height: 100px;
  background-color: #4d4d4d90;
  color: #fffbfb;
  font-size: 25px;
  border: 1px solid #404040;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1245px) {
  .video {
    display: block;
  }

  .video__container {
    display: block;
  }

  .video__title {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
  }

  .video__content {
    margin: 10 auto;
    text-align: center;
  }

  .video__subtitle-content {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .video__btn {
    margin: auto;
  }

  .video__form {
    text-align: center;
  }

  .video__content {
    width: 100%;
    height: 100% auto;
  }
}

@media screen and (max-width: 615px) {
  .video__content {
    width: 100%;
    height: auto;
    max-height: 100%;
  }
}

@media screen and (max-width: 325px) {
  .video__btn {
    width: 240px;
  }
}

@media screen and (max-width: 615px) {
  .video__content {
    width: 100%;
    height: auto;
    max-height: 100%;
  }
}

@media screen and (max-width: 325px) {
  .video__btn {
    width: 240px;
  }
}

/*About guide Nadya start*/
.about__guide {
  max-width: 1300px;
  margin: 0 auto;
  margin: 20px auto;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  font-family: "Montserrat", serif;
  color: #f4f4f4;
  background-color: #5b554b90;
}

/*About me PART Gulya end*/

/*About reviews Nadya start*/
.container {
  margin-bottom: 40px;
  font-family: "Montserrat", serif;
  color: #4d4d4d;
  margin-bottom: 70px;
}

.reviews__title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
}

.reviews__top,
.reviews__bottom {
  display: flex;
  margin: 10px;
}

.review {
  background-color: white;
  border: 2px solid #aaaaaa;
  padding: 10px;
  width: 100%;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

h5,
h6 {
  color: #858687;
  text-align: end;
  margin: 10px;
}

/*About reviews Nadya end*/

/*FOOTER PART MILA*/
.contacts {
  display: flex;
}

.contacts__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.contacts__header {
  display: flex;
  justify-content: center;
}

.contacts__header-text {
  width: 60%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  font-family: "Montserrat", serif;
  color: #4d4d4d;
  text-align: center;
}

.contacts__media-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

/*.contacts__right-picture {
  width: 100%;
  max-width: 900px;
}*/

.contacts__email {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__email-img {
  width: 50px;
  height: 50px;
  margin-right: 0.5%;
}

.social__instagram1,
.social__telegram1,
.social__whatsapp1 {
  filter: grayscale(100%);
}

.contacts__media-telegram,
.contacts__media-instagram,
.contacts__media-whatsapp,
.contacts__email-send,
.bottom__design-site {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-family: "Montserrat", serif;
  text-decoration: none;
  color: #4d4d4d;
}

.contacts__media-telegram:hover,
.contacts__media-instagram:hover,
.contacts__media-whatsapp:hover,
.contacts__email-send:hover {
  text-decoration: underline;
  color: #887c63;
}

.footercontainer {
  display: flex;
  justify-content: space-between;
}

.footercontainer__media-social {
  display: inline-flex;
  list-style-type: none;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
}

.social__instagram1,
.social__telegram1,
.social__whatsapp1,
.social__whatsapp,
.social__telegram,
.social__instagram,
.social__youtube {
  width: 60px;
  height: 60px;
  padding: 12px;
}

.bottom {
  display: flex;
  justify-content: center;
}

@media screen and (min-width:600px) and (max-width: 903px) {
  .contacts__header-text {
    font-size: 16px;
  }
  .contacts__email-img {
    width: 30px;
    height: 30px;
    margin-right: 0.5%;
  }

  .contacts__media-telegram,
  .contacts__media-instagram,
  .contacts__media-whatsapp,
  .contacts__email-send,
  .bottom__design-site {
    font-size: 14px;
  }
  .social__instagram1,
  .social__telegram1,
  .social__whatsapp1,
  .social__whatsapp,
  .social__telegram,
  .social__instagram,
  .social__youtube {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  .footercontainer__copyright-text1,
  .footercontainer__copyright-text2 {
    font-size: 12px;
  }
}

@media screen and (max-width: 599px) {
  .contacts__header-text {
    font-size: 14px;
  }
  .contacts__email-img {
    width: 30px;
    height: 30px;
    margin-right: 0.5%;
  }
  .contacts__media-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -15%;
  }

  .contacts__media-telegram,
  .contacts__media-instagram,
  .contacts__media-whatsapp,
  .contacts__email-send,
  .bottom__design-site {
    font-size: 12px;
  }
  .social__instagram1,
  .social__telegram1,
  .social__whatsapp1,
  .social__whatsapp,
  .social__telegram,
  .social__instagram,
  .social__youtube {
    width: 40px;
    height: 40px;
    padding: 8px;
  }
  .footercontainer__copyright-text1,
  .footercontainer__copyright-text2 {
    font-size: 12px;
  }

  .footercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footercontainer__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footercontainer__copyright-text2 {
    text-align: center;
  }
}

/*FOOTER PART MILA END*/
