html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background: #f4f4f4;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
    font-family: 'Playfair Display', serif;
    color: #4d4d4d;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Playfair Display', serif;
    color: #4d4d4d;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

link:hover,
link:focus,
link:active {
    opacity: 0.75;
}

p:hover,
p:focus {
    color: black;
    opacity: 0.75;
}

/*============ header styles (julia) ============*/
.header {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__left-part {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 60px;
}

.header__logo {
    width: 150px;
}

.header__navigation {
    flex-wrap: wrap;
    display: flex;
}

.header__list {
    display: inline;
    flex-wrap: wrap;
}

.header__item {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-right: 40px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__menu {
    display: flex;
}

.header__link {
    display: inline;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    color: #404040;
    text-decoration: none;
}


.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: 0.75;
}

.header__right-part {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header__icon {
    height: 50px;
    width: 50px;
}

/* gamburger */

@media screen and (min-width: 903px) {
    .hambutger-menu {
        display: none;
    }
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    left: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 40px;
    right: 70px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 11;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #444242;
    transition-duration: 0.25s;
}

.menu__btn>span::before {
    content: "";
    top: -8px;
}

.menu__btn>span::after {
    content: "";
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #858687;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    z-index: 10;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    transition-duration: 0.25s;
    z-index: 9;
}

.right-link {
    padding-right: 32px;
    color: black;
    text-decoration: none;
    transition: 0.2s all;
}

.menu__item:hover {
    background-color: #f4f4f4;
}

/*============ header styles (julia) ============*/
.header {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
}

.header__left-part {
    display: flex;
    flex-wrap: wrap;
}

.header__logo {
    width: 150px;
}

.header__navigation {
    display: flex;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-right: 40px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    text-transform: capitalize;
    color: #404040;
    text-decoration: none;
}


.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: 0.75;
}



/* gamburger */

@media screen and (min-width: 903px) {
    .hambutger-menu {
        display: none;
    }
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}